body {
    font-family: 'Roboto Condensed', sans-serif;
}

.input-full{
    width:100%;
    padding: 8px 10px;
    margin-bottom: 10px;
    border: 1px solid #cecece;
    border-radius:5%;
    color:#637281;
}

.btn-full{
	border: 1px solid #11b5e6;
	background:#11b5e6;
	padding: 5px 30px;
	border-radius: 100px;
	width: 100%;
	font-weight:900;
	text-transform: uppercase;
	color: #fff;
}

.btn-full:hover{
	background: #012d59;
	color: #fff;
}

.text-link{
	text-align: center;
	display: block;
	text-decoration: none !important;
	color: #11b5e6;
}

a:hover{
	color:#11b5e6 !important;
}