Skip to content
 
Search or jump to…

Pull requests
Issues
Marketplace
Explore
 
@TamMuoi 
Learn Git and GitHub without any code!
Using the Hello World guide, you’ll start a branch, write comments, and open a pull request.

 
1
0 0 khacngocPtit/ocoppro
 Code  Issues 0  Pull requests 1  Projects 0  Wiki  Security  Insights
ocoppro/public/css/dichvu-blog.css
 Tam Muoi up
c5813dd yesterday
197 lines (169 sloc)  3.04 KB
    
*{
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Roboto Condensed', sans-serif;
}

h3.title-service {
    color: #3498db;
    font-weight: bolder;
}
a.img-sv{
	overflow: hidden;
}
a.img-sv img{
	transition: 2.8s;
	width: 100%;
	height: 264px;
	cursor: pointer;
}
a.img-sv img:hover{
	transform: scale(1.5);
}

p.content-sv {
    line-height: 1.2rem;
    font-size: .95rem;
}

a.title-sv {
    text-decoration: none;
    color: #27ae60;
    font-weight: bolder;
    transition: 1.2s;
}

a.title-sv:hover {
    color: #34495e;
    text-align: center;
}

.bl-sv .card-body i{
	color: #d35400;
}
.bl-sv .card-body span{
	font-size: .85rem;
	color: #8e44ad;
	padding-left: .2rem;
}

a.title-sv::before,
a.title-sv::after{
  backface-visibility: hidden;
  border: 1px solid rgba(#fff, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 0.5s ease-in-out;
  width: 0;
  opacity: 0;
}

a.title-sv:hover::before,
a.title-sv:hover::after{
  backface-visibility: hidden;
  transition: width 1s ease-in-out;
  width: 100%;
  opacity: 1;
}
a.title-sv.line-ef::after,
a.title-sv.line-ef::before{
	border: 1px solid green;
}

/* a.title-sv.line-ef:hover,
a.title-sv.line-ef:active{
	color: #2ecc71;
} */


.card-body .btn {
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 0.85rem;
  font-weight: bolder;
  line-height: 36px;
  /* margin: 0 0 2em; */
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  border: 1px solid #000;
  border-radius: 0;
  background: #10e616;
}

.btn-1 {
  font-weight: 100;
  transition: all .25s;
}
  svg {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
  
  rect {
    fill: none;
    stroke: #fff;
    stroke-width: 2;
    stroke-dasharray: 422, 0;
    transition-delay: none;
  }


.card-body .btn-1:hover {
  font-weight: 900;
  letter-spacing: 2px;
  border: none;
  background: none;

}

.btn-1:hover rect{
	stroke-width: 5;
    stroke-dasharray: 15, 310;
    stroke-dashoffset: 48;
    transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}

.btn-1.color-green:hover {
  color: #000;
}

.btn-1.color-green:hover rect{
	stroke: green;
}

.b-pagination li.page-item>a.page-link{
	border-radius: 50%;
	transition: 0.8s;

}

.b-pagination li.page-item>a.page-link:hover{
	background-color: #000;
	border-color: #000;
	color: #fff;
}

.menu-category .dropdown{
	margin-bottom: .3rem;
}

.menu-category .dropdown-menu{
	overflow: hidden;
}
.menu-category .dropdown-menu>a{
	transition: 1s;
}
.menu-category .dropdown-menu>a:hover{
	-webkit-transform:  translateX(1rem);
	   -moz-transform:  translateX(1rem);
	    -ms-transform:  translateX(1rem);
	     -o-transform:  translateX(1rem);
	        transform:  translateX(1rem);
	 background: none; 
}

h3.news-category{
	color: #e42b2b;
    font-weight: bolder;
}

a.img-category{
	overflow: hidden;
}

a.img-category img{
	overflow: hidden;
	transition: 1.5s;
	width: 100%;
	height: auto;
	cursor: pointer;
}

a.img-category img:hover{
	transform: scale(1.5);
}
